/* Стили для Swiper */
.top-swiper {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  position: relative;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* полупрозрачный overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.slide-overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.slide-overlay p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.map-container {
  width: 100%;
  height: calc(100vh - 250px - 80px); /* высота карты с учетом Swiper и панели */
}
