/* Убираем все зазоры */
html,
body,
#root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.mySwiper {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}
.swiper-slide-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  text-align: center;
  width: 100%;
}
.slide-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.slide-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.slide-text {
  font-size: 4rem;
  font-weight: 900;
  background: linear-gradient(90deg, #00c6ff, #0072ff, #00ff7f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.slide-text::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 200px;
  height: 3px;
  border-radius: 10px;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
.slide-sub {
  font-size: 1.5rem;
  margin-top: 1.2rem;
  color: #ddd;
  z-index: 2;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  /* background: linear-gradient(90deg, #00c6ff, #0072ff, #00ff7f); */
  /* border-radius: 50%; */
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 5;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.15);
  /* box-shadow: 0 0 15px rgba(255, 0, 150, 0.6); */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  font-weight: bold;
  color: #fff;
}
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.6);
  opacity: 1;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(90deg, #00c6ff, #0072ff, #00ff7f);
  transform: scale(1.3);
}